* {
    box-sizing: border-box;
}

html {
    height: 100%;
}

body {
  font-size: 16px;
  font-family: "Roboto", sans-serif;
  background-color: black;
  height: 100%;
}

h1 {
    font-size: 48px;
    color: white;
    position: absolute;
    top: 13%;
    left: 33%;
    transform: translate(-50%, -50%) 
}

#gameOver {
    font-size: 30px;
    color: #6C2E88;
    top: 0%;
    left: 15%;
    transform: translate(-50%, -50%)
    
}

h2 {
    color:white;
    position: absolute;
}

#timer {
    top: 78%;
    left: 79%;
    transform: translate(-50%, -50%)
}

#score {
    top: 78%;
    left: 28%;
    transform: translate(-50%, -50%)
}

#final {
    color: #6C2E88;
}

h3 {
    color:#6C2E88;
}

h4 {
    color:#6C2E88;
}

p {
    font-size: 28px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color:#6C2E88;
}

.response {
    margin-top: 10px;
    margin-bottom: 10px;
}

label {
    color: #212121;
}

.page {
    position: relative;
    height: 100%;
}

.card {
    position: absolute;
    background-color:white;
    border: 5px solid #6C2E88;
    border-radius: 8px;
    top: 50%;
    left: 55%;
    transform: translate(-50%, -50%);
    padding: 20px;
    width: 1000px;
    height: 400px;
}

#c6 h4, #c6 label {
    color: white;
}

button {
    position: absolute;
    background-color: #CCA1DF;
    border: 3px solid #6C2E88;
    border-radius: 8px;
    color: #fff;
    font-size: 18px;
    cursor: pointer;
    line-height: 16px;
    width: 225px;
    padding: 20px 52px;
    text-align: center;
    top: 70%;
    left: 79%;
    transform: translate(-50%, -50%);
}

#rightAns {
    position: absolute;
    color: darkgreen;
    font-size: 48px;
    top: 55%;
    left: 79%;
    transform: translate(-50%, -50%);
}

#wrongAns {
    position: absolute;
    color: darkred;
    font-size: 48px;
    top: 55%;
    left: 79%;
    transform: translate(-50%, -50%);
}

#c13 div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}

#scoreHeader {
    top: 15%;
    left: 3%;
}

table {
    position: absolute;
    top: 23%;
    border-spacing: 7px 2px;
}

tr {
    text-align: center;
}

td {
    padding: 5px;
}

#highScores {
    color: white;
}